# Godot 4+ specific ignores
.godot/
*.TMP
override.cfg

bin/
obj/
.vs/
.idea/
*.DotSettings.user

Builds/
.env
webrtc/

*.VoxelGI*_data.res

# Lightmap bakes
Scenes/**/*.exr
Scenes/**/*.exr.import
*.lmbake
*.lmbake.depren

target/
*.bin
*.gltf
*.glb
Assets/Sounds/**/*
!Assets/Sounds/**/*.import
Assets/Models/**/*.png
