# Godot 4+ specific ignores
.godot/

bin/
obj/
.vs/
.idea/
*.DotSettings.user

Builds/
.env
webrtc/

*.VoxelGI*_data.res

# Lightmap bakes
Scenes/**/*.exr
Scenes/**/*.exr.import
*.lmbake

target/
*.bin
*.gltf
Assets/Models/**/*.png
